.Admin-land-container{
    display: flex;
    /* width: 100%; */
    /* background-color: rgb(230, 157, 31); */
    height: auto;
    flex-direction: column;
    width: auto;
    overflow: hidden;
}




.Admin-Home-hor{
    display: flex;
    background-color: #076E65;
    /* width: 100%; */
    height: 18%;
    width: auto;
    flex-direction: row;
    padding: 0px;
}

/* #admindetsideimg{
    height: auto;
    width: auto;
} */

.admin-land-icon-1{
   padding-top: 35% ;
    padding-left: 15%;
    height: 350px;
    width: 200px;
    margin-left: 5%;
    margin-top: 2%;
    padding-left: 15%; 
     align-self: center;
    margin-bottom: 5%;
    align-content: center;
    margin-left: 15%;
    padding-bottom: 9%; 
}
  
  
.Admin-Det-ver1 p{
    
    font-size: larg;
    background-color: antiquewhite;
    justify-self: center;
    margin: 5%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    text-align: center;
    margin-top: 9%;


}



.Adminfooter{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100vw;
    background-color: #52D1BC;
    padding: 10px;
    text-align: center;
    color: white;
    margin-top: 20px;
}



.AdminLogout{
    width: 100%;  
}


.admin-input-icon1{
    margin-left: 95%;
    margin-top: 3%;
}

.Admin-Det-ver {
    display: flex;
    flex-direction: row;
    background-color: white;
    height: auto;
    margin-bottom: 3%;
    width: auto;
    padding: 0%;
    min-height: 500px;
}

/* .Admin-Home-ver1, .Admin-Home-ver2 {

    display: flex;
    justify-content: center;
    align-items: center;     
    height: 100%;
    width: 6px;            
} */
.Admin-Det-ver1 {
    font-size: large;
   
    width: auto;
    height: auto;
    background: white ;
    margin-top: 3%;
    margin-left: 8%;
    margin-right: 3%;
    margin-bottom: 3%;
   
    border-radius: 25px;
    
   
   
}

.Admin-Det-ver2 {
    background-color: white;
    min-width: 900px;
    width: auto;
    height: auto;
    margin-top: 5%;
    margin-left: 15%;
    margin-right: 5%;
    margin-bottom: 5%;
    max-width: fit-content;
    
}

.Admin-Det-ver2-inner{
    padding: 1%;
    display: flex;
    height: auto;
    background-color: #fcf6f6;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
    z-index: 1;
    transform: translateY(-13%);
    border-radius: 25px;
    width: auto;
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 0%;
    margin: 0%;
    min-height: 400px;
}



.input-icon1
{
   margin-left: 250px;
   margin-top: 20px;
}

.Admin-Det-ver2-1{
   
    width:auto;
    height: 50%;
    border-radius: 25px;
    padding: 1%;
    align-items: center;
    background-color: #076E65;
    margin-bottom: 2%;
    margin-left: 2%;

    
}
.Admin-Det-ver2-2{
    
    width:auto;
    height: 50%;
    border-radius: 25px;
    padding: 1%;
    align-items: center;
    background-color: #0E0E62;
    margin-bottom: 2%;
    margin-left: 2%;
    
   
}
.Admin-Det-ver2-3{
    
    width:auto;
    height: 50%;
    border-radius: 25px;
    padding: 1%;
    align-items: center;
    background-color: #F4A52E;
    margin-bottom: 2%;
    margin-right: 2%;
    
}
.Admin-Det-ver2-4{
    
    width:auto;
    height: 50%;
    border-radius: 25px;
    padding: 1%;
    align-items: center;
    background-color: #17B2F5;
    margin-bottom: 2%;
    margin-right: 2%;
}




.Admin-Det-ver2-1:hover, 
.Admin-Det-ver2-2:hover, 
.Admin-Det-ver2-3:hover, 
.Admin-Det-ver2-4:hover {
    transform: scale(1.05); /* Zoom effect on hover */
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3); /* Shadow effect on hover */
}


.AdminVerUp,.AdminVerDown{
    display: flex;
    flex-direction: column; 
    height: auto;
    width: auto;
    
    

}
.AdminVerDown{
   
    width: 50%;
    margin-left: 1%;
}
.AdminVerUp{
    
    width: 50%;
    margin-right: 1%;
}






.admindoc, .adminlab, .adminrad, .adminpat, .counttext{
    width: auto;
    color: black;
    font-size: large;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    margin-top: 10%;
}