body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}
  
.container {
    display: flex;
    height: 100%;
    
}

.left {
    flex: 1;
    background-color:#023166 ;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin-right: 5px;
    justify-content: center;
    min-height: 100vh;
    width: 350px;
}


.right {
    flex: 3;
    display: flex;
   flex-direction: column;
}

/* .content {
    text-align: center;
    padding: 20px;
    color: white;
  } */
.top{
    background-color: #83C3E0;
    max-height: 120px;
    text-align: center;
    padding: 10px;
    min-width: 155vh;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    font-size: 20px;
    color: #023166;
    position: sticky;
    z-index: 999;
    top: -10px;
    box-shadow: 0 -6px 10px 10px rgba(1, 5, 43, 0.5);
}

.top header h1 {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.blue{
    color: white;
}
.bottom{
   
    background-color: white;
}
.logo img {
    max-width: 150px;
    margin-bottom: 30px;
    
}
.logo{
    transform: translateY(-10%);
}  
.icon-button {
    margin: 12px;
    padding: 30px;
    width: 250px;
    height:10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #023166;
    font-size: large;
    background-color: white;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
}

.icon-button i:first-child {
    margin-right: auto;
}
  
.icon-button i:last-child {
    margin-left: auto;
}
  

.imageleft
{
    width: 50%; 
    float:left;
} 
#WelcomeImage
{
    transform: translateY(20%);
    max-width: 100%;
    height: 400px; 
}
.imageright
{
    width: 50%; 
    float:right;
}
#Image
{
   transform: translateY(10%);
   float:right;
} 