.container {
    display: flex;
    position:relative;
    overflow-x: hidden;
    overflow-y: hidden;
   min-height: 100vh;
}

.leftsidebar {
    flex: 0.4;
    width: 80px;
    min-height: 100%;
    background:#023166 ;
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin-right: 5px;
   
    
}


.right {
    flex: 2;
    display: flex;
    flex-direction: column;
}


.top{
    display: flex;
    flex-direction: row;
    background-color: #83C3E0;
    max-height: 120px;
    align-items: center;
    justify-content: center;
    padding: 10px;
    min-width: 155vh;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    font-size: 20px;
    color: #023166;
    position: sticky;
    z-index: 999;
    top: -10px;
    box-shadow: 0 -6px 10px 10px rgba(1, 5, 43, 0.5);
}


.top header h1 .blue{
    color: white;
}
.bottom{
    display: flex;
    flex-direction: row;
    background-color: white;
}
.logo img {
    max-width: 100px;
    height: 90px;
    margin-bottom: 30px;
    
}
.logo{
    align-self: center; 
    margin-top: 20px  ;
    margin-bottom: 20px;
}  
.icon-button {
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: small;
    padding: 10px;
    height:20px;
    border-bottom: 2px solid rgba(0,0,0,0.05);
    border-top: 2px solid rgba(225,225,225,0.05);
    color: white;
    display: block;
}
.icon-button:hover{
    background: #a1b6d4;
    
}
.icon-button .fas{
  width: 25px;
}
.icon-button i:first-child {
    margin-right: auto;
}
  
.icon-button i:last-child {
    margin-left: auto;
}
  

.imageleft
{
    width: 50%; 
    float:left;
} 
#WelcomeImage
{
    transform: translateY(20%);
    max-width: 100%;
    height: 400px; 
}
.imageright
{
    width: 50%; 
    float:right;
}
#Image
{
   transform: translateY(10%);
   float:right;
} 