
/* To be included before every new file */
.Patient-landing-hor{
    display: flex;
    background-color: #1588C2;
    justify-content: space-between;
    flex-direction: row;
    overflow-y: hidden;
}

#patientlandsideimg{
  flex: 1;
  padding: 10%;
  height: 80px;
  width: 80px;
  margin-left: 15px;
}

.PatientLandingSearch{
  flex:1;
  padding-top: 0.5%;
  padding-left: 30%;
}

.PatientSearch
{
  height: 28px;
  border-radius:5px;
}

.PatientSearch[type=text]
{
  width: 100%;
  padding: 12px 20px;
  margin: 20px 0;
  box-sizing: border-box;
  border: 3px solid #ccc;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}

.PatientSearch[type=text]:focus
{
  border: 3px solid #ccc;
}
.PatientLandingLogout{
  flex:1;
    text-align: right;
    margin: 0 auto;
    padding: 25px;
    position: relative;

}
.input-patient-land-icon2
{
  cursor: pointer;
}

/* ------------------------------------------------------ */
.Patient-Land-ver {
  display: flex;
  flex-direction: row;
  background-image: url('../../../Resources/patient-land2.png');
  background-repeat: no-repeat; 
  background-size: cover;
  background-position: center center; 
}

.Patient-Land-ver::before {
  content: "";
  position: absolute;
  top: 80px;  
  left: 0;
  width: 100%;
  height: calc(100% - -15px);  
  background-color: rgba(0, 0, 0, 0.4);  
  z-index: 1;  
}

.Patient-Land-ver > * {
  position: relative;
  z-index: 2;
}

.Patient-Land-ver1 {
  width: 100px;
  flex:0.4;
  height: 100vh;
  margin-top: 10px;
  margin-left: 6px;
  margin-right: 30px;
  margin-bottom: 2px;
  display: flex;
  flex-direction: column;
}
.patient-landing-button{
  border-radius: 5px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: bold;
  color: white;
  border: rgb(241, 247, 247) solid 3px;
  height: 40px;
  background-color: #1588C2;
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); */
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3); /* Shadow for depth */

  /* Gradient for 3D effect */
  background-image: linear-gradient(45deg, #1588C2 0%, #88caea 100%);
}
.Patient-Land-ver2 {
  margin-top: 10px;
  flex:2;
  height: 100vh;
  overflow-y: scroll;
}

/* custom scrollbar */
::-webkit-scrollbar {
    width: 20px;
  }
  
  ::-webkit-scrollbar-track {
    background-color: transparent;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #d6dee1;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: #a8bbbf;
  }
 .PatientLandingcard{
  margin-bottom: 10px;
  margin-top: 10px;
  text-align: center;
  flex-direction: column;
  }
 
  .Patient-landing-about-us-section { 
    height: auto;
    padding: 10px;
    background-color: #1588C2;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    color: white;
    font-weight: bold;
  }

  .LinkStyle {
    text-decoration: none;
  }

  .buttonsToUse {
    margin-right: 25%;
    margin-left: 37%;
    margin-bottom: 10px;
    
    
  }