.form-container-password {
    width: 400px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
  }
  
  .change-password-form label {
    display: block;
    margin-bottom: 8px;
  }
  
  .change-password-form input {
    width: calc(100% - 16px);
    padding: 8px;
    margin-bottom: 10px;
  }
  
  .change-password-form button {
    width: 200px;
    padding: 10px;
    margin-left: 100px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .change-password-form button:hover {
    background-color: #0056b3;
  }

  .close-button-password {
    position: relative;
    top: 5px; 
    right:-95%;
    background-color: #b4b2b2;
    color:black;
    border: none;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
  }
  