.center-container {
  display: flex;
  justify-content: center;
  align-items: center; 
}

.fixed-button {
  width: 100%;
    padding: 1px;
    background-color: rgb(46, 7, 136);
    color: #fff;
    border: none;
    cursor: pointer; 
}