/*

.Radio-Login-hor{
    display: flex;
    background-color: rgb(14, 14, 98);
}
  
  
#radseideimg{
    padding-top: 1%;
    padding-left: 10%;
    height: 120px;
    width: 120px;
}
  
  
.pageTitle {
    color: white;
    margin-left: 255px;
    margin-top: 35px;
}

*/


body {
  overflow-x: hidden;
}



.Profile-Login-hor{
   display: flex;
    background-color: rgb(20, 129, 197);
}
  
  
#radseideimg{
    padding-top: 1px;
    padding-left: 10px;

    height: 90px;
    width: 90px;
}

.pageTitle {
  color: white;
  margin-left: 200px;
  margin-top: 35px;
  transform: translateX(-100px);
}

.image-container {
    position: fixed;
    top: calc(50% + 50px);
    right: 130px;
    transform: translate(80px,-280px);
    text-align: center;
    margin: 20px;
  }
  
  .profile-image {
    width: 950px; 
    height: 400px; 
    display: block; 
    margin: 20px; 
    transform: translateX(50px);
  }

  .profile-details {
    position: absolute;
    top: 70%;
    right: 40%;
    transform: translate(130px, -90%);
    text-align: center;
    margin: 20px;
  }
  
.profile-details input[type="text"],
.profile-details input[type="email"],
.profile-details input[type="password"] {
  width: 350px; 
  padding: 10px;
  border: 2px solid rgb(20, 129, 197); 
  border-radius: 10px; 
  box-sizing: border-box; 
}

.profile-details input[type="text"]::placeholder,
.profile-details input[type="email"]::placeholder,
.profile-details input[type="password"]::placeholder {
  color: rgba(3, 43, 69, 0.811); 
}

.left-sidebar {
  margin-top: 20px; 
}

.user-icon {
  width: 150px;
  height: 150px;
  transform: translate(25%, -30%);
}


.btn{
  background-color: rgb(66, 173, 239);
  color: #ffffff; 
  border: none;
  border-radius: 20px; 
  padding: 10px 20px; 
  cursor: pointer;
  width: 200px;
  transform: translate(calc(50% - 50px), calc(-50% - 30px));
}

.star-icon {
  width: 30px; 
  height: auto; 
  margin-right: 5px; 
}

.rating-container {
  margin-top: -95px; 
  transform: translate(5%,165%);
}

.footer1 {
  background-color: rgb(20, 129, 197);
  color: #ffffff;
  padding: 20px;
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}


  

   
