.Doc-land-container{
    display: flex;
    /* width: 100%; */
    /* background-color: rgb(230, 157, 31); */
    height: auto;
    flex-direction: column;
    width: auto;
    overflow: hidden;
}




.Doc-Det-hor{
    display: flex;
    background-color: #076E65;
    /* width: 100%; */
    height: 18%;
    width: auto;
    flex-direction: row;
    padding: 0px;
}

.doc-admin-land-icon{
    padding-top: 35% ;
    padding-left:15%;
    height: 35%;
    width: 74%;
    padding-right: 5%;
    margin-top: 5%;
    margin-bottom: 15%;
    padding-right: 5%;
    align-self: center;
    margin-left: 10%;
}
  
  
.Doc-Det-ver1 p{
    
    font-size: small;
    background-color: #076E65;
    justify-self: center;
    margin: 5%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    text-align: center;
    color: white;


}


.doctor-details-about-us-section{

        padding: 20px;
        background-color: #076E65;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        text-align: center;
        color: white;
        font-weight: bold;

}



.DocDetLogout{
    width: 100%;
}

#docdetsideimg{
    height: 120px;
    width: 120px;
}
/* .logodocdet{
    min-width: 50%;
    max-width: 50%;
    height: auto;
} */



.doc-input-icon1{
    margin-left: 95%;
    margin-top: 3%;
}

.Doc-Det-ver {
    display: flex;
    flex-direction: row;
    background-color: white;
    height: auto;
    margin-bottom: 0.1%;
    max-height: 70%;
}

/* .Admin-Home-ver1, .Admin-Home-ver2 {

    display: flex;
    justify-content: center;
    align-items: center;     
    height: 100%;
    width: 6px;            
} */
.Doc-Det-ver1 {
    font-size: large;
   
    width: auto;
    height: auto;
    background: white ;
    margin-top: 3%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 3%;
    max-width: 20%;
    border-radius: 5px;
   
   
}

.Doc-Det-ver2 {
    background-color: white;
    width: auto;
    height: auto;
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
    max-width: fit-content;
    
}

.Doc-Det-ver2-inner{
    
    display: flex;
    flex-direction: column;
    height: auto;
    background-color: #fcf6f6;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
    z-index: 1;
    transform: translateY(-13%);
    border-radius: 5px;

}

.Doc-Det-ver2-inner-upper{
    padding: 1%;
    display: flex;
    flex-direction: row;
    flex:2;
    width: auto;
    padding: 0%;
    margin: 0%;
}

.Doc-Det-ver2-inner-lower{
    flex-direction: row;
    align-items: center;
    flex:1;
    margin-top: 2%;
}



/* .doc-input-icon1
{
    flex: 2;
} */

.Doc-Det-ver2-1{
   
    width:auto;
    height: 50%;
    border-radius: 5px;
    padding: 1%;
    align-items: center;

    
}
.Doc-Det-ver2-2{
    
    width:auto;
    height: 50%;
    border-radius: 5px;
    padding: 1%;
    align-items: center;

   
}
.Doc-Det-ver2-3{
    
    width:auto;
    height: 50%;
    border-radius: 5px;
    padding: 1%;
    align-items: center;

    
}
.Doc-Det-ver2-4{
    
    width:auto;
    height: 50%;
    border-radius: 5px;
    padding: 1%;
    align-items: center;
    

   
}




.docscanned:hover, 
.docpres:hover, 
.docradioReport:hover, 
.docfinalDiag:hover {
    transform: scale(1.05); /* Zoom effect on hover */
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3); /* Shadow effect on hover */
}


.DocVerUp,.DocVerDown{
    display: flex;
    flex-direction: column; 
    height: auto;
    width: auto;
    

}
.DocVerDown{
   flex: 1;
    
}
.DocVerUp{
    
    flex: 1;
    
}

.docscanned,.docpres{
    width: 100%;         /* ensures the image doesn't exceed the container's width */
    height: 100%;
    max-width: 500px;
    max-height: 300px;
    min-width: 30%;
    min-height: 30%;
    padding: 7%;
    /* justify-content: center; */
    /* margin: 5%; */
    /* margin-top: 2%; */
    border-color: #fcf6f6;
    border-radius: 5px;  
    align-content: center; 
  
}

.docradioReport, .docfinalDiag{
    width: 100%;         /* ensures the image doesn't exceed the container's width */
    height: 100%;
    max-width: 500px;
    max-height: 300px;
    min-width: 30%;
    min-height: 30%;
    padding: 7%;
    /* justify-content: center; */
    /* margin: 5%; */
    /* margin-top: 2%; */
    border-color: #fcf6f6;
    border-radius: 5px;  
    align-content: center; 

}




.generate-button{
    width: auto;
    align-items: centre;
    margin-left: 37%;
    /* margin-top: 10%; */
    border-radius: 25px;
    background-color: #076E65;
    color: white;
    font-weight: bold;
    box-shadow: inset;
    margin-bottom: 5%;
}




.scantext, .prestext, .rep, .diagtext{
    width: auto;
    color: black;
    font-size: large;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    
}