.Pat-land-container{
    display: flex;
    /* width: 100%; */
    /* background-color: rgb(230, 157, 31); */
    height: auto;
    flex-direction: column;
    width: auto;
    overflow: hidden;
}




.Pat-Home-hor{
    display: flex;
    background-color: #1588C2;
    height: 18%;
    width: auto;
    flex-direction: row;
    padding: 0px;
}

.pat-hor-det-icon{
    padding-top: 35% ;
    padding-left:15%;
    height: 35%;
    width: 74%;
    padding-right: 5%;
    margin-top: 5%;
    margin-bottom: 15%;
    padding-right: 5%;
    align-self: center;
    margin-left: 10%;
}
  
  
.Pat-Det-ver1 p{
    
    font-size: small;
    background-color: #1588C2;
    justify-self: center;
    margin: 5%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    text-align: center;
    color: white;


}


.Patfooter{
    padding: 20px;
    background-color: #1588C2;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: small;
}



.PatLogout{
    width: 100%;      
}

.pat-input-icon1{
    margin-left: 95%;
    margin-top: 3%;
}

.Pat-Det-ver {
    display: flex;
    flex-direction: row;
    background-color: white;
    height: auto;
    margin-bottom: 0.1%;
    max-height: 70%;
}

/* .Admin-Home-ver1, .Admin-Home-ver2 {

    display: flex;
    justify-content: center;
    align-items: center;     
    height: 100%;
    width: 6px;            
} */
.Pat-Det-ver1 {
    font-size: large;
   
    width: auto;
    height: auto;
    background: white ;
    margin-top: 3%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 3%;
    max-width: 20%;
    border-radius: 25px;
   
   
}

.Pat-Det-ver2 {
    background-color: white;
    width: auto;
    height: auto;
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
    max-width: fit-content;
    
}

.Pat-Det-ver2-inner{
    padding: 1%;
    display: flex;
    flex-direction: row;
    height: auto;
    background-color: #fcf6f6;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
    z-index: 1;
    /* transform: translateY(-13%); */
    border-radius: 5px;

}


.Pat-Det-ver2-1{
   
    width:auto;
    height: 50%;
    border-radius: 5px;
    padding: 1%;
    align-items: center;

    
}
.Pat-Det-ver2-2{
    
    width:auto;
    height: 50%;
    border-radius: 5px;
    padding: 1%;
    align-items: center;

   
}
.Pat-Det-ver2-3{
    
    width:auto;
    height: 50%;
    border-radius: 5px;
    padding: 1%;
    align-items: center;

    
}
.Pat-Det-ver2-4{
    
    width:auto;
    height: 50%;
    border-radius: 5px;
    padding: 1%;
    align-items: center;

   
}




.patscan:hover, 
.patpres:hover, 
.patradioReport:hover, 
.patfinalDiag:hover {
    transform: scale(1.05); /* Zoom effect on hover */
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3); /* Shadow effect on hover */
}


.PatVerUp,.PatVerDown{
    display: flex;
    flex-direction: column; 
    height: auto;
    width: auto;;
    

}
.PatVerDown{
   
    flex: 1;
}
.PatVerUp{
    
    flex: 1;
}

.patscan,.patpres, .patradioReport, .patfinalDiag{
    width: 100%;         /* ensures the image doesn't exceed the container's width */
    height: 100%;
    max-width: 500px;
    max-height: 300px;
    min-width: 30%;
    min-height: 30%;
    padding: 7%;
    /* justify-content: center; */
    /* margin: 5%; */
    /* margin-top: 2%; */
    border-color: #fcf6f6;
    border-radius: 5px;  
    align-content: center; 


    
}




.scantext, .prestext, .rep, .diagtext{
    width: auto;
    color: black;
    font-size: large;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
}