.Pat-Det-hor{
    display: flex;
    background-color: #1588C2;
    flex-direction: row;
    overflow-y: scroll;
}

#patdetimg{
    flex: 1;
    padding: 10%;
    height: 80px;
    width: 80px;
    margin-left: 15px;
}
.PatDetLogout
{
    flex:1;
    text-align: right;
    margin: 0 auto;
    padding: 25px;
    position: relative;

}
.pat-input-icon1{
   cursor: pointer;
}


/*---------------------------------------*/



.Pat-Det-ver {
     display: flex;
    flex-direction: row;
    background-color: white;
    margin-bottom:15px;
}

.Pat-Det-ver1 {
    width: 100px;
    flex:0.4;
    height: 100vh;
    margin-top: 10px;
    margin-left: 6px;
    margin-right: 30px;
    margin-bottom: 2px;
    display: flex;
    flex-direction: column;
    color: #1588C2;
    
}

.Pat-Det-ver1 p{
    font-size: small;
    background-color: white;
    justify-self: center;
    padding: 4px;
    margin: 5%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    text-align: center;
    border-style: solid;
    border-radius: 5px;
    border: black dotted 1px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.ProfilePatDetails
{
    border-radius: 5px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    color: white;
    border: #1588C2 solid 6px;
    background-color: #1588C2;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    
}

.Pat-Det-ver2-inner{
    margin-top: 10px;
    flex:2;
    height: auto;
    padding-right: 1%;
    background-color: transparent;
}


.card {
    border: none;
    margin-bottom: 10px;
    overflow-x: hidden;
    background-color: transparent;
    box-shadow: none;
}
.card-block {
    padding: 4px;
    background-color: #ffffff;
}
.card-title{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    
}
.m-b-20 {
    margin-bottom: 20px;
   
}

.card-sub {
    cursor: pointer;
    border: none;
    -webkit-box-shadow: 0 0 1px 2px rgba(27, 26, 26, 0.05), 0 -2px 1px -2px rgba(22, 21, 21, 0.04), 0 0 0 -1px rgba(32, 31, 31, 0.05);
    box-shadow: 5px 5px 5px 5px rgba(31, 31, 31, 0.05), 0 -2px 1px -2px rgba(32, 32, 32, 0.04), 0 0 0 -1px rgba(22, 22, 22, 0.05);
    width: auto;
    padding: auto;
    border-radius: 5px;
}
.PatGenerateReport{
    border-radius: 5px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    color: white;
    border: #1588C2 solid 6px;
    background-color: #1588C2;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.PatMarkDone{
    border-radius: 5px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    color: white;
    border: #1588C2 solid 6px;
    background-color: #1588C2;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.patient-details-about-us-section{
   margin-top: 20px;
    height: auto;
    padding: 10px;
    background-color: #1588C2;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    color: white;
    font-weight: bold;
}






