#docsideimg {
    padding-top: 1%;
    padding-left: 10%;
    height: 80px;
    width: 80px;
}

.Search {
    display: flex;
    justify-content: center;
    /* Center horizontally */
    align-items: center;
    /* Center vertically */
    padding-left: 10%;

}

.chatDicom{
    display: flex;
    flex-direction: row;
}

.dicom-viewer{
    margin-right: 80px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}
.screenshot
{
    margin-top: 10%;
    margin-left: 40%;
    margin-right: 40%;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    background-color: #066E65;
    height: 40px;
}
.DoctorSearch {
    height: 30px;
    width: 100vh;
    border-radius: 50px;
    border-width: 3px;
    border-color: rgb(7, 110, 101);
    margin-left: 150px;
    margin-top: 20px;

}

.DocLogout {
    display: flex;
    justify-content: center;
    /* Center horizontally */
    align-items: center;
    /* Center vertically */

}

.input-icon1 {
    margin-left: 250px;
    margin-top: 20px;
}


.Had-login-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    /* Make the container take the full height of the viewport */
}

.Doctor-Login-hor {
    display: flex;
    justify-content: space-between;
    align-items: left;
    padding: 10px;
}

.Docfooter {
    padding: 10px;
}

.chat-wrapper {
    flex: 1;
    /* This will make the chat container take the available space between header and footer */
    /* overflow-y: auto; */
    /* Make the chat container scrollable */
    margin-left: 30px;
    margin-top: 5px;
}

.chat-container {
    border: 4px solid #ccc;
    padding: 10px;
    border-radius: 10px;
    max-width: 650px;
    /* Adjust according to your design */
    height: 600px;
    /* Set a fixed height for the chat container */
    overflow-y: auto;
    /* Make the chat container scrollable */
}

.chat-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.chat-item {
    background-color: #cff4c2;
    padding: 10px;
    margin: 20px;
    border-radius: 5px;
    overflow-wrap: break-word;
}

.chat-image {
    max-width: 100%;
    border-radius: 5px;
}

.inputTextVal {
    width: 370px;
    height: 20px;
}

.userNameVal {
    color: blue;
}

/* Hide scrollbar */
::-webkit-scrollbar {
    width: 8px;
    /* Width of the scrollbar */
    background-color: transparent;
    /* Background color of the scrollbar area */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #888;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #ccc;
    /* Color of the scrollbar handle */
    border-radius: 4px;
    /* Rounded corners */
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent;
    /* Color of the scrollbar track */
}

.DoctorChat-about-us-section { 
    margin-top: 20px;
    height: auto;
    padding: 10px;
    background-color: rgb(7,110,101);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    color: white;
    font-weight: bold;
  }