.Rad-land-container{
    display: flex;
    /* width: 100%; */
    /* background-color: rgb(230, 157, 31); */
    height: 100vh;
    flex-direction: column;
    width: 100%;
    overflow: hidden;
}




.Rad-Home-hor{
    display: flex;
    background-color: #0E0E62;
    /* width: 100%; */
    height: 18%;
    width: 100%;
}

.admin-land-icon{
    padding-top: 35% ;
    padding-left: 15%;
    height: 250px;
    width: 180px;
    margin-left: 15%;
    margin-top: 5%;
    padding-left: 15%;
    margin-bottom: 25%;
}
  
  
.Rad-Det-ver1 p{
    
    font-size: larger;
    background-color: antiquewhite;
    justify-self: center;
    margin: 5%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    text-align: center;


}


  
  
.pageTitle {
    color: white;
    margin-left: 90px;
    margin-top: 35px;
}

.Radfooter{
    position: fixed;
    left: 0;
    bottom: 0;
   width: 100vw;
    background-color: #0E0E62;
    padding: 10px;
    text-align: center;
    color: white;
    margin-top: 20px;
}



.RadLogout{
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center;
    margin-left:80%;    
}

.Rad-Det-ver {
    display: flex;
    flex-direction: row;
    background-color: white;
    height: 100%;
    margin-bottom: 40px;
}

/* .Admin-Home-ver1, .Admin-Home-ver2 {

    display: flex;
    justify-content: center;
    align-items: center;     
    height: 100%;
    width: 6px;            
} */
.Rad-Det-ver1 {
    font-size: large;
   
    width: 400px;
    height: 85%;
    background: #0E0E62 ;
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 30px;
    
   
   
}

.Rad-Det-ver2 {
    background-color: white;
    width: 1500px;
    height: 85%;
    margin-top: 30px;
    margin-left: 150px;
    margin-right: 10px;
    margin-bottom: 30px;
    margin-right: 30px;
    
}

.Rad-Det-ver2-inner{
    padding: 30px;
    display: flex;
    flex-direction: row;
    height: 100%;
    background-color: #fcf6f6;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
  z-index: 1;
  transform: translateY(-50px);
}



.input-icon1
{
   margin-left: 250px;
   margin-top: 20px;
}

.Rad-Det-ver2-1{
   
    width:100%;
    height: 50%;
    
}
.Rad-Det-ver2-2{
    
    width:100%;
    height: 50%;
   
}
.Rad-Det-ver2-3{
    
    width:100%;
    height: 50%;
    
    top:0;
    
}
.Rad-Det-ver2-4{
    
    width:100%;
    height: 50%;
    
   
}




.scan:hover, 
.pres:hover, 
.radioReport:hover, 
.finalDiag:hover {
    transform: scale(1.05); /* Zoom effect on hover */
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3); /* Shadow effect on hover */
}


.RadVerUp,.RadVerDown{
    display: flex;
    flex-direction: column; 
    height: 100%;
    width: 500px;
    

}
.RadVerDown{
   
    flex: 1;
}
.RadVerUp{
    
    flex: 1;
}

.scan,.pres, .radioReport, .finalDiag{
    width:500px;
    height: 250px;
    justify-content: center;
    margin-left: 15%;
    margin-top: 2%;
    border: 3px solid black;
    
}




.scantext, .prestext, .rep, .diagtext{
    width: 100%;
    color: black;
    font-size: large;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
}