
/* To be included before every new file */
.Radio-landing-hor{
    display: flex;
    background-color: rgb(14, 14, 98);
    
}


  
#docsideimg{
    padding-top: 1%;
    padding-left: 10%;
    height: 120px;
    width: 120px;
}
/* ------------------------------------------------------ */

.Search{
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
}

.RadioSearch
{
    height: 30px;
    width: 100vh;
    border-radius:50px;
    border-width: 3px;
    border-color: rgb(242, 247, 246);
    margin-left: 150px;
    margin-top: 20px;
    padding: 12px;
}
.RadioLogout{
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    right: 0;
}
.input-icon1
{
   margin-left: 250px;
   margin-top: 20px;
}
.Radio-Land-ver {
    display: flex;
    flex-direction: row;
    background-color: white;
    margin-bottom:20px;
}
.Radio-Land-ver1 {
    width: 100px;
    flex:0.4;
    height: 100vh;
    background:#0E0F62 ;
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 2px;
    display: flex;
    flex-direction: column;
}

.Radio-Land-ver2 {
   margin-top: 30px;
   flex:2;
   height: 100vh;
   overflow-y: scroll;
   
}
 .card{
    margin-bottom: 10px;
    margin-top: 10px;
    text-align: center;
    box-shadow: inset 0 0 0 2px #0E0F62;
  }
 
  .radio-landing-about-us-section { 
    padding: 20px;
    background-color: #0E0F62;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    color: white;
    font-weight: bold;
  }

 