.Doctor-profile-hor{
    display: flex;
    background-color: rgb(7, 110, 101);
    justify-content: space-between;
    flex-direction: row;
    overflow-y: hidden;
  }
  .doctorprofiledivisions1
  {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 10%;
  }  
  
  #doctorprofilesideimg{
    flex: 1;
    padding: 10%;
    height: 80px;
    width: 80px;
    margin-left: 15px;
  }
  
 
  
  
  
  /* ------------------------------------------------------ */
  
  
  
  .Doctor-container {
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    display: flex;
    align-items: center;
    background-image: url('../../../Resources/doc-landing-background-1.webp');
  }
  
  .Doctor-picture {
    text-align: center;
    margin-right: 80px;
  }
  
  .Doctor-picture img {
    width: 300px;
    height: 300px;
    border-radius: 80px;
    object-fit: cover;
    border: 3px solid #333;
    margin: 60px 0px 20px 80px;
  }
  
  .doctormainprofile h2 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 300px;
    color: #066E65;
  }
  
  .doctormainprofile p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 500px;
    color: #066E65;
  }
  .Doctor-edit-button {
    margin-top: 6px; 
    margin-left: 80px;
    color:white;
    background-color: #066E65;
    padding: 6px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 12px;
    font-weight: 300;
    
  }
  
  .Doctor-change-button {
    margin-top: 10px; 
    margin-left: 80px;
    color:white;
    background-color: #066E65;
    padding: 6px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 12px;
    font-weight: 300;
  }
  
  
  .Doctor-about-us-section {
    margin-top: 20px; 
    padding: 20px;
    background-color: #066E65;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    color: white;
    font-weight: bold;
  }
  
  .Doctor-about-us-section p {
    font-size: 16px;
    line-height: 1;
    margin-bottom: 10px;
  }